.footer {
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 98%;
    position: fixed;
    margin-bottom: -100;
    bottom: 0;
    padding: 20px;
    z-index: 10;
}

.footer_right * .MuiSlider-root{
    color: green;
}

.footer_left {
    flex: 0.3;
    display: flex;
    align-items: center;
    width: 300px;
}

.footer_albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;object-fit: contain;
}

.footer_center {
    flex: 0.4;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}



.footer_icon:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_green:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_right {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_green {
}

.footer_songInf > h4 {
    margin-bottom: 5px;
}

.footer_songInf > p {
    font-size: 12px;
}