.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex: auto;
}

.header_icon{
    cursor: pointer;
    margin: 0px 10px;
    transition: 0.2s ease-in !important;
}

.header_icon:hover{
    color:#bebebe;
}

.header_left {
    flex: 0.5;
    min-width: 70px;
    border-radius: 30px;
    padding: 10px;
}

.header_left > form {
    display: flex;
    align-items: center;

}

.header_left_input {
    border: none;
    width: 100%;
}

.header_left_input:focus-visible {
    outline: none;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right > h4 {
    margin-left: 10px;
}

@media(min-width: 964px) {
    .header_icon {
        display: none !important;
    }
}