.player_body {
    display: flex;
    height: 100%;
    margin-bottom: 100px ;
}

.makeStyles-content-88 {
    flex-grow: 1;
    overflow-y: overlay;
    padding-bottom: 100px;
}

.MuiDrawer-paperAnchorLeft {
    left: 0;
    right: auto;
    background-color: black;
}

@media (min-width: 600px){
    .makeStyles-drawer-2 {
        width: 240px;
        flex-shrink: 0;
        
    }
    .makeStyles-drawer-2::-webkit-scrollbar {
        display: none;
    }
}