.sidebar {
    height: 100vp;
    flex: 0.2;
    color: white;
    min-width: 230px;
    background-color: #040404;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y:visible;
}

.sidebar_logo {
    margin-right: auto;
    height: 70px;
    padding: 10px;
}

